<div class="container p-5">
  <div class="text-center mb-5">
    <h1>Permíteme ser parte de este hermoso momento</h1>
  </div>

  <div class="row text-center g-4">
   <div class="col">
     <div
  class="bg-dark text-white rounded-4 p-5 h-100 d-flex align-items-center justify-content-center adricard"
  style="
    background-image: url('assets/fotos boda/p.jpg');
  ">
  <h2>bodas</h2>
</div>
    </div>

<div class="col">
     <div
  class="bg-dark text-white rounded-4 p-5 h-100 d-flex align-items-center justify-content-center adricard"
  style="
    background-image: url('assets/fotos boda/z.jpg');
  ">
  <h2>pre-boda</h2>
</div>

    </div>
   <div class="col">
     <div
  class="bg-dark text-white rounded-4 p-5 h-100 d-flex align-items-center justify-content-center adricard"
  style="
    background-image: url('assets/15/50x70.jpg');
  ">
  <h2>15's</h2>
</div>
  </div>


  <div class="row text-center g-4">
   <div class="col">
     <div
  class="bg-dark text-white rounded-4 p-5 h-100 d-flex align-items-center justify-content-center adricard"
  style="
    background-image: url('assets/urban/c.jpg');
  ">
  <h2>Estudio</h2>
</div>
    </div>

<div class="col">
     <div
  class="bg-dark text-white rounded-4 p-5 h-100 d-flex align-items-center justify-content-center adricard"
  style="
    background-image: url('assets/urban/30x45.jpg');
  ">
  <h2>Familias</h2>
</div>

    </div>
   <div class="col">
     <div
  class="bg-dark text-white rounded-4 p-5 h-100 d-flex align-items-center justify-content-center adricard"
  style="
    background-image: url('assets/urban/b.jpg');
  ">
  <h2>Especiales</h2>
</div>
  </div>


</div>

