.registro-container {
  min-height: 100vh;
  background: radial-gradient(circle at center, #111 0%, #000 100%);
  padding-top: 100px;
}

.registro-form {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
